body{
    height: 100vh;
}
.jumbotron{
    background-color: cornflowerblue;
    color: white;
}

.card-supermercado{
    flex: 1 300px;
    padding:10px 10px 30px 0px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: #5896FC;
    margin-bottom: 0%;
}

.btn-visitar{
    width: 100%;
}
a{
    color: white;
}